<div *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar><br>
    <h3>Espere un momento...</h3>    
</div>


<div fxFlexFill class="form-container" *ngIf="!isLoading">
    <div fxLayout="column" fxLayoutGap="32px" [style.height]="'80%'">
        <mat-card class="card-margins">
        <mat-card-title></mat-card-title>
            <div
            fxLayout="row"
            fxLayoutGap="32px"
            fxLayout.lt-sm="column"      
            fxLayoutGap.lt-sm="10px">
                <div fxFlex="0 100 100%">
                    <img mat-card-image [src]="data.img" alt="Free image">
                </div>

                <div mat-dialog-actions>
                    <span fxFlex></span>
                    <button mat-raised-button (click)='onNoClick()' color="primary"> Aceptar</button>
                </div>
            </div>
            <br>
        </mat-card>
    </div>
    

</div>


    