<div class="form-loading-shade" *ngIf="isLoading"><mat-spinner *ngIf="isLoading"></mat-spinner></div>
<div class="form-loading-shade" *ngIf="!isLoading && !queja_sugerencia">No se encontraron los datos de la Queja/Sugerencia...</div>

<!-- <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
    <h2 fxFlex><mat-icon>assignment_ind</mat-icon> Información del Paciente: </h2>
</div> -->

<div>

    <div class="form-container">

        <div [formGroup]="seguimientoForm">

            <div formGroupName="seguimiento">

                <div fxLayout="row" fxLayoutAlign="center center" >
                    <h2 fxFlex><mat-icon>pending_actions</mat-icon>&nbsp;Seguimiento de Quejas/Sugerencias:
                    </h2>
                </div>

                <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Folio De la Queja/Sugerencia: </mat-label>
                        <input matInput id="folio_atencion" formControlName="folio_queja_sugerencia" placeholder="Folio" readonly>
                    </mat-form-field>
        
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Fecha de la Aclaración: </mat-label>
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="fecha" formControlName="fecha" placeholder="Fecha de la Aclaración">
                        <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
                        <mat-datepicker #fecha></mat-datepicker>
                        <mat-error *ngIf="seguimientoForm.controls['seguimiento'].get('fecha').hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
        
                </div>
        
                <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
        
                    <mat-form-field fxFlex appearance="fill"  *ngIf="!catalogos['estatus']">
                        <mat-label>Estado (Status de la Queja/Sugerencia):</mat-label>
                        <input matInput formControlName="estatus_id">
                        <mat-hint>Escribe el nombre del Estado de Salud Actual</mat-hint>
                        <mat-error *ngIf="seguimientoForm.controls['seguimiento'].get('estatus_id').hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
        
                    <mat-form-field fxFlex appearance="fill" *ngIf="catalogos['estatus']">
                        <mat-label>Estado (Status de la Queja/Sugerencia):</mat-label>
                        <input type="text" aria-label="estatus_id" matInput formControlName="estatus_id" [matAutocomplete]="estatusAutocomplete" >
                        <mat-autocomplete #estatusAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('nombre')">
                            <mat-option *ngFor="let item of filteredCatalogs['estatus'] | async" [value]="item">
                                {{ item.id }} ._ {{item.nombre}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-hint *ngIf="!seguimientoForm.controls['seguimiento'].get('estatus_id').value">Selecciona un Estatus de la lista</mat-hint>
                        <mat-hint align="end" *ngIf="seguimientoForm.controls['seguimiento'].get('estatus_id').value">Nombre: [{{seguimientoForm.controls['seguimiento'].get('estatus_id').value.nombre}}]</mat-hint>
                        <mat-error *ngIf="seguimientoForm.controls['seguimiento'].get('estatus_id').hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
        
                </div>
                <br>
                <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
        
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Observaciones: </mat-label>
                        <textarea matInput class="uppercase" id="observaciones" formControlName="observaciones" placeholder="Observaciones" ></textarea>
                        <mat-error *ngIf="seguimientoForm.controls['seguimiento'].get('observaciones').invalid && (seguimientoForm.controls['seguimiento'].get('observaciones').dirty || seguimientoForm.controls['seguimiento'].get('observaciones').touched)">
                            <span *ngIf="seguimientoForm.controls['seguimiento'].get('observaciones').errors.required">El Campo es obligatorio</span>
                        </mat-error>
                    </mat-form-field>
        
        
                </div>




            </div>

        </div>
        
    </div>

</div>

<mat-divider></mat-divider>
<div mat-dialog-actions>
    <span fxFlex></span>
    <button mat-button (click)='onCloseDialog()'>Cancelar</button>
    <button mat-raised-button (click)="saveseguimiento()" color="primary" [disabled]="seguimientoForm.invalid || isLoading"><mat-icon>save</mat-icon> Guardar</button>
</div>